# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)

# "txt" to test exactly the same versions as in Docker
-r requirements.txt

# test
pytest
coverage
pytest-mock
pytest-benchmark
pytest-cov

# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin

pip-tools

# lint
pre-commit
pylint
mypy
