# dependencies list to build requirements.docker.txt with pip-compile (from pip-tools package)
# Dependencies additional to already installed in the base image

tornado
requests
pydantic
python-dateutil
oauth2client
google-api-python-client
pillow
setuptools
cairosvg
