{% extends "base.html" %}

{% block body %}
<div>
    <ol class="rounded-list">
        {% for dashboard in dashboards %}
        <li><a href="">{{ dashboards[dashboard]['summary'] }}</a>
            <ol class="rectangle-list">
                <li><a href="/?b={{ dashboard }}&style=seaborn-talk">Colourful handwritten dashboard</a></li>
                <li><a href="/?b={{ dashboard }}&style=seaborn-talk&xkcd=0">Colourful straight dashboard</a></li>
                <li><a href="/?b={{ dashboard }}&format=jpeg">Gray handwritten dashboard (for kindle)</a></li>
            </ol>
        </li>
        {% end %}
    </ol>
</div>
{% end %}